<div class="component-main">


  <div class="component-header" FadeOut [@fadeOutOnLeave] @fadeInFromTop>
    <h3 class="component-h" style="width: unset" (click)="global.back()">
      <mat-icon class="back-icon">navigate_before</mat-icon>
      View Data
    </h3>

    <div class="data-view-info" *ngIf="datasourceDetails" @fadeInFromTop>
      <div class="data-view-info-title">
        <span>
          {{datasourceDetails.title}}
          <ng-container *ngIf="metadata && auth.portalUser && metadata.userUid === auth.portalUser.uid">
            <mat-icon *ngIf="metadata.status === DataSourceStatus.PUBLISHED" [matTooltip]="'Published'" style="color: var(--secondary-color); text-shadow: 0 0 12px var(--secondary-color)" [inline]="true">visibility</mat-icon>
            <mat-icon *ngIf="metadata.status === DataSourceStatus.HIDDEN" [matTooltip]="'Hidden'" style="color: var(--warn-color); text-shadow: 0 0 12px var(--warn-color)" [inline]="true">visibility_off</mat-icon>
          </ng-container>
        </span>
      </div>
      <div class="data-view-info-uploader" *ngIf="uploader" @fadeInFromTop>
        <span>Uploader: <a [routerLink]="['/profile/' + uploader.uid]" target="_blank">{{uploader.username}}</a></span>
      </div>
    </div>

    <mat-progress-bar
      [class.invisible]="!isLoading"
      class="component-progress-indicator"
      mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="metadata && datasourceDetails && uploader"
       FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
    <div class="inner-content">

      <div class="actions" style="margin-left: auto">
        <DPButton *ngIf="metadata.userUid === auth?.portalUser?.uid"
                  (click)="global.goTo('my-data/edit', metadata.uid)"
                  icon="edit" appearance="secondary">Edit</DPButton>

        <DPButton icon="link" *ngIf="canAccess"
                  [appearance]="showApi ? 'warning' : 'success'"
                  (click)="showApi = !showApi">
          {{showApi ?  'Hide Api' : 'Show API'}}
        </DPButton>

        <DPButton icon="key" (click)="requestAccess(metadata)"
                  *ngIf="(!canAccess && metadata.dataAccess === DataAccess.REQUEST)
                   && !alreadyRequested && auth.portalUser?.uid">
          Request Access
        </DPButton>

        <span *ngIf="alreadyRequested && !canAccess">Access Requested</span>

      </div>

      <div class="inner-content link-container" *ngIf="showApi" @fadeInFromTop>
        <div class="label">Full File</div>
        <div class="link-element"><span class="link-text">GET | {{apiLink}}</span> <div class="copy-icon-container" [matTooltip]="'Copy'" [matTooltipPosition]="'right'" (click)="copy(apiLink)"><mat-icon>content_copy</mat-icon></div></div>
        <div class="label">Segmented</div>
        <div class="link-element"><span class="link-text">GET | {{apiSegmentedLink}}</span> <div class="copy-icon-container" [matTooltip]="'Copy'" [matTooltipPosition]="'right'" (click)="copy(apiSegmentedLink)"><mat-icon>content_copy</mat-icon></div></div>
      </div>


    </div>
  </div>

  <ng-container *ngIf="metadata && datasourceDetails">

    <div *ngIf="datasourceDetails.summary"
      FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="inner-content">
        <div class="summary-container">
          <span class="summary">{{datasourceDetails.summary}}</span>
        </div>

      </div>
    </div>

    <DPDivider></DPDivider>

    <div FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="full-width">
        <DPFile
          [metadata]="metadata"
          [disableDownload]="metadata.dataDownloadAccess === DataDownloadAccess.DISABLED"
          [clearable]="false"
          icon="note_add">
          Select File
        </DPFile>
      </div>
    </div>

    <div *ngIf="datasourceDetails.description"
      FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="inner-content">
        <div class="description-container ck-content" [innerHTML]="datasourceDetails.description | safeHtml"></div>
      </div>
    </div>


  </ng-container>

</div>

