<mat-toolbar color="primary" class="header">
  <button mat-icon-button class="menu-button" (click)="toggleSidenavClick()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo">DataPortal</span>

  <div class="spacer"></div>

  <button mat-icon-button class="profile-button" (click)="openProfileMenuClick()">
    <mat-icon>account_circle</mat-icon>
    <span class="button-label">Profile</span>
  </button>

  <button mat-icon-button class="home-button" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="button-label">Home</span>
  </button>

  <button mat-icon-button class="settings-button" (click)="openSettingsMenuClick()">
    <mat-icon>settings</mat-icon>
    <span class="button-label">Settings</span>
  </button>

  <button mat-icon-button class="logout-button" (click)="logoutClick()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="button-label">Logout</span>
  </button>
</mat-toolbar>
