<div class="component-main">


  <div class="component-header" FadeOut [@fadeOutOnLeave] @fadeInFromTop>
    <h3 class="component-h">New Data</h3>
    <div>
    </div>
    <mat-progress-bar
                      [class.invisible]="!isLoading"
                      class="component-progress-indicator"
                      mode="indeterminate"></mat-progress-bar>
  </div>

  <DPDivider></DPDivider>

  <div FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
    <div class="upload-container">
      <DPFile  [disableDownload]="true"
               [confirmationRequired]="true"
               (onUploaded)="onUploaded($event)"
               (onClear)="metadata = undefined"
               icon="note_add">
        Select File
      </DPFile>
    </div>
  </div>



  <div
    FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
    <div class="inner-content">

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Datasource name *</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tags">
          <mat-chip *ngFor="let tag of tags; let i = index" (removed)="remove(tag)">
            {{i + 1}}. {{tag.title}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Summary</mat-label>
        <textarea [(ngModel)]="summary" matInput style="height: 100px"></textarea>
      </mat-form-field>

      <ckeditor [editor]="EditorClassic"
                [config]="ckeditorConfig"
                [(ngModel)]="description"></ckeditor>

    </div>
  </div>

  <div *ngIf="metadata" FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
    <div class="inner-content">
      <DPButton (click)="save()" [disabled]="!title" icon="save" appearance="success" style="margin-left: auto">Save</DPButton>
    </div>
  </div>

</div>

