<div class="component-main">


  <div class="component-header" FadeOut [@fadeOutOnLeave] @fadeInFromTop>
    <h3 class="component-h">Profile</h3>
    <div>
    </div>
    <mat-progress-bar
      [class.invisible]="!isLoading"
      class="component-progress-indicator"
      mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container *ngIf="$user | async as user">
    <div
      FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="inner-content">
        <DPProfile
          [allowEdit]="true"
          [user]="user"></DPProfile>
      </div>
    </div>
    <DPDivider></DPDivider>

    <div
      FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="inner-content">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
          <mat-tab label="Info">

            <div class="inner-content" style="margin-top: 1rem">


            </div>

          </mat-tab>
          <mat-tab label="Data">

          </mat-tab>
          <mat-tab label="Requests">

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </ng-container>

</div>

