<div class="component-main">


  <div class="component-header" FadeOut [@fadeOutOnLeave] @fadeInFromTop>
    <h3 class="component-h">New Data</h3>
    <div>
    </div>
    <mat-progress-bar
      [class.invisible]="!isLoading"
      class="component-progress-indicator"
      mode="indeterminate"></mat-progress-bar>
  </div>

  <DPDivider></DPDivider>

  <ng-container *ngIf="$user | async as user">
    <div
      FadeOut [@fadeOutOnLeave] @fadeInFromTop class="component-segment">
      <div class="inner-content">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
          <mat-tab label="Profile">

            <div class="inner-content">



            </div>

          </mat-tab>
          <mat-tab label="Data">

          </mat-tab>
          <mat-tab label="Requests">

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </ng-container>

</div>

