<div class="profile-container" *ngIf="userInfo">

  <div class="main-profile-data">

    <div class="profile">
      <div class="profile-picture-container">
        <div *ngIf="$login | async as login" class="login-status-container"
        [matTooltip]="login.loggedInStatus === 'ONLINE' ? 'Online' : 'Offline'"
             matTooltipPosition="left"
        >
          <mat-icon class="online" *ngIf="login.loggedInStatus === 'ONLINE'">check_circle</mat-icon>
          <mat-icon class="offline" *ngIf="login.loggedInStatus === 'OFFLINE'">radio_button_unchecked</mat-icon>
        </div>

        <div class="edit-container"
             *ngIf="allowEdit && user && user.uid && (auth.portalUser?.uid === user.uid)"
             (click)="editProfile(user!.uid)" [matTooltip]="'Edit profile'" matTooltipPosition="right">
          <mat-icon class="profile-edit-icon">create</mat-icon>
        </div>
        <img *ngIf="userInfo.profilePicture" class="profile-picture" [src]="userInfo.profilePicture" alt="Profile Picture">
      </div>

      <div class="profile-details">
        <div>
          <span *ngIf="!linked">
            {{user?.username}}
          </span>
          <a *ngIf="linked" [routerLink]="['/profile/' + user?.uid]">{{user?.username}}</a>
        </div>
      </div>

      <div class="profile-contact" *ngIf="userInfoContact">
        <div *ngIf="userInfoContact.website">
          <a href="{{userInfoContact.website}}" target="_blank">
            <mat-icon class="contact-icon">public</mat-icon>
          </a>
        </div>
        <div *ngIf="userInfoContact.email">
          <a href="mailto://{{userInfoContact.email}}">
            <mat-icon class="contact-icon">alternate_email</mat-icon>
          </a>
        </div>
        <div *ngIf="userInfoContact.facebook"><a href="{{userInfoContact.facebook}}" target="_blank"><img class="contact-icon" src="assets/svg/facebook.svg" alt="Facebook"></a></div>
        <div *ngIf="userInfoContact.github"><a href="{{userInfoContact.github}}" target="_blank"><img class="contact-icon" src="assets/svg/github.svg" alt="Github"></a></div>
        <div *ngIf="userInfoContact.twitter"><a href="{{userInfoContact.twitter}}" target="_blank"><img class="contact-icon" src="assets/svg/twitter.svg" alt="Twitter"></a></div>
      </div>

    </div>
  </div>
</div>
