<div class="profile-container">

  <div class="main-profile-data">

    <div class="profile">
      <div class="profile-picture">
        <img src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg">
      </div>

      <div class="profile-details">
        <div>{{user.username}}</div>
      </div>

    </div>

    <div class="profile-contact">
      <div><mat-icon>alternate_email</mat-icon> <a href="">gergo.marcell.turi@gmail.com</a></div>
      <div><mat-icon>github</mat-icon> <a href="">gergomarcellturi</a></div>
      <div><mat-icon>github</mat-icon> <a href="">gergomarcellturi</a></div>
    </div>

  </div>

</div>
